* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.25%;
}

body {
  font-family: cursive, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 3rem;
  margin-top: 2rem;
}

.header img {
  height: 10rem;
  width: 10rem;
}

.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 107rem;
  margin: 0 auto;
}

#model-container {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 80vh;
  width: 50vw;
  padding: 2.8rem;
  border: 0.1rem solid #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  gap: 8rem;
  margin-top: 1.3rem;
  font-size: 1.4rem;
}

.close-btn {
  height: 2rem;
  width: 2rem;
  justify-self: flex-end;
}

.none {
  display: none;
}
