* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.25%;
}

body {
  font-family: cursive, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 3rem;
  margin-top: 2rem;
}

.header img {
  height: 7rem;
  width: 7rem;
}
